{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--mainpage에만 고유로 들어갈 내용-->
    <div class="mainpage-image">
        <img class="center" src = "{% static 'images/박호연1.jpg' %}" style="width:500px;">
    </div>

    <h1><a href="{% url 'main:new' %}">글 쓰기</a></h1>

    <h1>[글 목록]</h1>
    {% for post in posts %}
    <h2>{{post}}</h2>
    {% endfor %}

    <h1>[글 세부 목록]</h1>
    <div>
        {% for post in posts %}
        <div>
            <h2>제목: {{post.title}}</h2>
            <h2>작성자: {{post.writer}}</h2>
            <h2>내용(간략): {{post.summary}}
                <a href="{% url 'main:detail' post.id %}">...더보기</a>
            </h2>
        </div>
        <div>---------------------------------------------------------------------------------------------------------------------------------------------------------</div>
        {% endfor %}
    </div>

{% endblock %}